.video{
    width:600px;
    height:360px;
    float: left;
}

.playlist {
    background-color: #000000;
    width: 300px;
    height: 480px;

    margin-left: 800px;

}

.item {
    font-size: 1.4rem;
    color: #6E8B9C;
}

.title {
    font-size: 1.9rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

h4 {
    font-weight: 700;
    color: #116391;
}

.list-container {
    background-color: #fff;
    border-radius: 5px;
}





